@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Italiana&family=Montserrat&family=Playfair+Display:wght@500&family=Red+Hat+Display:wght@300;400;600&display=swap');


.detail{
    font-family: 'Montserrat', sans-serif;
}

.detail img{
    max-width: 60%;
    margin-top: 20px;
    margin-left: 20px;
}

.detail h2{
    font-weight: bold;
}

.detail-container{
    display: flex;
    flex-wrap: wrap;
}

.detail-text{
    display: 'flex'; 
    justify-content: 'center';
    align-items: 'center'; 
    flex-direction: 'column';
}





