@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Italiana&family=Montserrat&family=Playfair+Display:wght@500&family=Red+Hat+Display:wght@300;400;600&display=swap');


.detail{
    font-family: 'Montserrat', sans-serif;
}

.detail img{
    max-width: 50%;
    margin-top: 30px;
    margin-left: 20px;
}

.detail h2{
    font-weight: bold;
    margin-bottom: 20px;
}

.detail-container{
    display: flex;
    flex-wrap: wrap;
}

.detail-text{
    max-width: 30%;
    margin: 5% 0 0 5%;
}

.detail-price{
    font-size: 20px;
    color: #9c7d5c;
    font-weight: bold;
}

.detail-description{
    margin-top: 50px;
}





