@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Italiana&family=Montserrat&family=Playfair+Display:wght@500&family=Red+Hat+Display:wght@300;400;600&display=swap');


.detail{
    font-family: 'Montserrat', sans-serif;
}

.detail-img{
    margin-top: 2rem;
    margin-left: 4rem;
}

.detail-name{
    margin-top: 5rem;
    margin-left: 80%;
    border-bottom: 2px solid black ;
}

.detail-body{
    margin-left: 80%;
    margin-top: -50%;
    
}

.detail-price{
    font-weight: bold;
}


.box-count-onadd button{
    border: none;
    margin: 0.5rem;
    font-size: small;
    margin-top: -2rem;
}

.box-count-onadd{
    background-color: #dcd0c2;
    margin-left: 1rem;
    border-radius: 10%;
} 

