.us{
    margin-top: 5%;
}

.us h1{
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

.us p{
    margin-top: 2rem;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 15px;
    letter-spacing: 1px;
}

@media (max-width: 770px) {
    .us h1{
        font-size: 35px;
        margin-top: 10%;
    }
}

@media (max-width: 440px) {
    .us h1{
        font-size: 30px;
    }
    .us p{
        font-size: 13px;
    }
}