@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Italiana&family=Montserrat&family=Playfair+Display:wght@500&family=Red+Hat+Display:wght@300;400;600&display=swap');

.contact{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 80px;
}

.contact ul{
    list-style: none;
}


.contact ul h4{
    font-weight: bold;
}

.contact ul li{
    margin-top: 30px;
}

.contact ul li a{
    color: black;
    text-decoration: none;
}

.contact ul li a:hover{
    color: rgb(87, 86, 86);
}

@media (max-width: 770px) {
    .contact h4{
        font-size: 20px;
        margin-top: 10%;
    }
    .contact{
        display: inline;
    }
}

@media (max-width: 440px) {
    .contact h4{
        font-size: 15px;
    }
    .contact ul li{
        font-size: 13px;
    }
    .contact{
        display: inline;
    }
}