@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Italiana&family=Montserrat&family=Playfair+Display:wght@500&family=Red+Hat+Display:wght@300;400;600&display=swap');

.redes{
    position: static;
}

.redes ul{
    display: flex;
    float: left;
    list-style: none;
    text-align: center;
    margin-left: 45%;
    margin-top: 5rem;
}

.redes ul li i{
    font-size: medium;
    position: static;
}

.redes ul li:hover{
    color: rgb(49, 49, 49);
}

.redes p{
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    margin-right: 40%;
    margin-left: 47.5%;
  
}