.not-found-box{
    text-align: center;
    margin-top: 10%;
}

.not-found-box h1{
    font-weight: bolder;
    font-size: 60px;
    color: black;
}

.not-found-box p{
    font-size: 0.9rem;
}

.not-found-link{
    color: black;
}

.not-found-link:hover{
    color: rgb(49, 49, 49);
}