.box-count{
    display: flex;
    margin-top: 50px;
    margin-left: 2rem;
    max-height: 55px;
}

.box-count button{
    background-color: transparent;
    border: none;
    margin: 0.5rem;
    font-size: small;
}

.count{
    margin-left: 50px;
    margin-top: 1rem;
    font-size: 20px;
}

.box-count-i p{
    font-size: 30px;
    margin-left: 20px;
}

.box-count-i p:hover{
    color: #937653;
}

.box-count-im p{
    margin-left: 60px;
}

.box-count-grandchild button:disabled:hover{
    color: white;
}

.box-count-children{
    display: flex;  
}

.box-count-grandchild{
    border: 1px solid rgb(178, 174, 174);
    display: flex; 
    border-radius: 500px;
}

.box-count-add p{
    font-size: 16px;
    margin-top: -5px;
    transition: 1s;
    font-weight: bold;
}

.box-count-add p:hover{
    color: #937653;
}

.modal p{
    color: black;
    text-decoration: underline;
    text-decoration-color: white;
}

.modal p::after{
    content: '';
    position: absolute;
    width: 19%;
    height: 1px;
    bottom: 18%;
    left: 79%;
    right: 0;
    background-color: #937653;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
}

.modal p:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

